@charset "UTF-8";

body{
  margin: 60px 4px 0px 4px;
  padding-bottom: 15px;
}
header {
  margin: 10px auto auto auto;
  padding-bottom: 10px;
}
main {
  max-width: 400px;
  height: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 0.5px 3px black;
  background-color: #D5D5D59C;  
}
main h2 {
  font-size: 1em;
  padding: 50px 10px 30px 10px;
  text-align: center;
}
main h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #6D1010;
  padding: 20px 20px 30px 20px;
}
article {
  padding: 10px;  
}
#user, #pass {
  display: block;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  text-align: center;
  margin: 5px auto 15px auto;
  padding: 10px;
  max-width: 200px;
}
p {
  font-weight: 700;
  padding: 5px;
  text-align: center;
}
.entrar {  
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 40px auto;
  } 
p > a {
  border-radius: 8px;  
  background-color: #962c2ce0;
  width: 68px;
  height: 18px;
  text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}
p > a:visited {
  color: white;
} 
p > a:hover {
  background-color: #a34f4fea;
}
aside {
  font-size: 0.8em;
  text-align: center;
  padding: 40px 2px 2px 2px;
  margin: auto;
}
.links {
  padding: 5px;
  margin: 5px 5px 30px 5px;
}
aside > a {
  border-radius: 5px;
  color: #962c2ce0;
  text-decoration: none;
  padding: 2px;
  margin: 20px 10px;
}
aside > a:hover {
  text-decoration: underline;
}
.footer {
  bottom: 0;
  width: 100%;
}