@charset "UTF-8";

body {
  margin: 0px 10px;
}
header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #6D1010;
  padding: 10px;
  margin: 4px auto 30px auto;
}
header h1 {
  padding: 10px;
  margin: 10px;
}
nav {
  min-width: 250px;
  max-width: 800px;
  background-color: #D5D5D59C;
  text-align: center;  
  vertical-align: middle;
  justify-content: center;
  line-height: 2em;
  padding: 4px;
  margin: 4px auto 15px auto;
  border-radius: 6px;
  box-shadow: 0px 0.5px 3px black;
  }
nav a {
  max-width: 1000px;
  padding: 2px;
  margin: 4px;
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: underline;
}
.sair {
  color: darkred;
}
main {
  background-color: #D5D5D59C;
  min-width: 250px;
  max-width: 1700px; /* 870 */
  min-height: 200px;
  padding: 10px;
  padding-bottom: 20px;
  margin: 4px auto;
  border-radius: 6px;
  box-shadow: 0px 0.5px 3px black;
}
main > h2 {  
  border-radius: 6px;
  padding: 20px 15px 15px 15px;
  margin: -10px -10px 0px -10px;
  text-align: center;
}
.db {
  margin: 20px auto;
  padding: 12px;
  background-color: white;
  border-radius: 6px;
  outline: 2px solid lightgray;
}
section ol {
  text-indent: 4px;
  margin: 10px auto;
  padding-left: 1em;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: line;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
.buttons > a {
  margin: 6px 8px;
  border-radius: 8px;  
  background-color: #962c2ce0;
  width: 68px;
  height: 18px;
  color: white;
  padding: 12px 16px; 
  text-align: center;
  text-decoration: none;
}
.buttons > a:hover {
  background-color: #a34f4fea;
}
.buttons > a:visited {
  text-decoration: none;
}
footer {
  bottom: 0;
  
}