@charset "UTF-8";

body {
  margin: 0px 10px;
}
main > h2 {  
  border-radius: 6px;
  padding: 20px 15px 15px 15px;
  margin: -10px -10px 0px -10px;
  text-align: center;
}
.db {
  margin: 12px 10px;
  padding: 12px;
  background-color: white;
  border-radius: 6px;
  outline: 2px solid lightgray;
}
section ol {
  text-indent: 4px;
  margin: 10px auto;
  padding-left: 1em;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.buttons > a {
  margin: 6px 8px;
  border-radius: 8px;  
  background-color: #962c2ce0;
  width: 68px;
  height: 18px;
  color: white;
  padding: 12px 16px; 
  text-align: center;
  text-decoration: none;
}
.buttons > a:hover {
  background-color: #a34f4fea;
}
.buttons > a:visited {
  text-decoration: none;
}
footer {
  bottom: 0;
  
}